page-calendar {

  .calendar-box{
    background:white;
    padding:2vh 0;
    font-size: 0;
    text-align:center;
  }
  .date-box{
    width:14vw;
    height:14vw;
    outline:0;
    border:1px solid $dark;
    background-color:$light;
    padding:0;
    display:inline-block;
    position: relative;
    font-size:1.4rem;
  }
  .date-box-date{
    font-size:1.3rem;
    color:$dark;
    position: absolute;
    top:0;
    left:0;
    min-width:40%;
    background-color:white;
    color:$dark;
    text-align: center;
    border-right:1px solid $dark;
    border-bottom:1px solid $dark;
  }
  .date-box-details{
    color:$dark;
    position: absolute;
    bottom:0;
    left:5px;
  }
  .date-box-details.over-goal{
    color:$danger;
  }

}
